$def with (robot, nodes, available_methods)
$var title: DFAgent


<script type="text/javascript">

	function getCookie(cname) {
	    var name = cname + "=";
	    var decodedCookie = decodeURIComponent(document.cookie);
	    var ca = decodedCookie.split(';');
	    for(var i = 0; i <ca.length; i++) {
	        var c = ca[i];
	        while (c.charAt(0) == ' ') {
	            c = c.substring(1);
	        }
	        if (c.indexOf(name) == 0) {
	            return c.substring(name.length, c.length);
	        }
	    }
	    return "";
	}

	function submit_to_df() {
		$$('#df_response').val('...processing...')
		$$.post("#" , {
			input: 'text',
			query: $$('#df_input').val()
		},
		function(data) {
			$$('#df_response').val(data['fulfillment']['speech']);
			$$('#df_input').val('')
		});

	}

	function show_marker(node_name) {
    	var nodes=$:nodes;
  		$$(".marker").remove();
  		try {
	  		var px = nodes[node_name]['x'] * 100 / nodes['_max']['x'];
	  		var py = nodes[node_name]['y'] * 100 / nodes['_max']['y'];
	      $$("#map_parent").append(            
	          $$('<div class="marker"></div>').css({
	              position: 'absolute',
	              top: px+'%',
	              'margin-left': '-8px',
	              'margin-top': '-8px',
	              left: py + '%',
	              width: '16px',
	              height: '16px',
	              background: '#FF00FFCC'
	          })              
	      );
	    }
	    catch(e) {
	    	console.log("couldn't find position for marker " + node_name + "\n" + e);
	    }


	}

	function send_event(ev, params) {
		$$.post("#" , {
			input: 'event',
			parameters: JSON.stringify(params),
			event: ev
		},
		function(data) {
			$$('#df_response').val(data['fulfillment']['speech']);
		});

	}


$$(document).ready(function () {
			$$('#webhook').html(
				'<a href="'+window.location.href+'/webhook">'
				+ window.location.href+'/webhook</a>');

			var source = new EventSource("api/$robot");
			source.onmessage = function(event) {
			    var state = JSON.parse(event.data)['state'];
			    $$('#sim_state').val(JSON.stringify(state, null, 2));
			    if (state['eyes_closed'])
			    	$$('#eyes').html('closed');
			    else
			    	$$('#eyes').html('open');
			    $$('#location').html(state['location']);
			    show_marker(state['location']);
			};
});

</script>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<h2>
					DialogFlow Robot: $robot
				</h2>
				<p>
					Configure DialogFlow to use the following fulfillment webhook: <span id="webhook"></span>. Read more about this in our <a target="_blank" href="https://github.com/LCAS/robot-dialogflow/wiki/">documentation</a>.
				</p>
<!-- 				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p> -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h3>
				Simulation State
			</h3>
			<div class="panel">
				<div id="map_parent" style="
									position: relative;
									top: 0px; left: 0px">
					<img id="map" class="img-responsive" src="https://www.thecollectionmuseum.com/assets/images/templates/collection-interactive-map.jpg"/>
				</div>
				<ul>
					<li>The robot is at place "<span id="location"></span>".</li>
					<li>Eyes <span id="eyes"></span></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<h3>
				Dialogue
			</h3>
			<form role="form">
				<div class="form-group">

					<label for="df_input">
						Speak to the robot
					</label>
					<input type="text" class="form-control" id="df_input" 
						onkeydown="if (event.keyCode == 13) { submit_to_df(); return false; }"
					/>
				</div>
				<button type="button" class="btn btn-primary"
					onclick="submit_to_df();">
					Submit
				</button>
				<div class="form-group">
					 
					<label for="df_response">
						Robot's Response
					</label>
					<textarea class="form-control" rows=5 id="df_response" disabled>
					</textarea>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Available methods on fulfilment server:</h3>
			<p>
				<ul class="list-group">
				$for m in available_methods:
						<li class="list-group-item">$m</li>
				</ul>
		  </p>
		</div>	
		<div class="col-md-4">
			<h3>Detailed Simulation State</h3>
			<p>
			<textarea name="sim_state" class="form-control" rows="10" disabled id="sim_state"></textarea>
		  </p>
		</div>	
		<div class="col-md-4">
			<h3>
				Events
			</h3>
			<div class="btn-group-vertical" role="group">
				<button type="button" class="btn btn-default"
					onclick="send_event('person_detected', {age: 20});">
					Person detected
				</button>
				<button type="button" class="btn btn-default"
					onclick="send_event('place_reached', {place: 'plesiosaurus'});">
					Place "Plesiosaurus" reached
				</button>
				<button type="button" class="btn btn-default"
					onclick="send_event('request_help', {
						instructions: 'Can you please help me by pushing me away from here a bit?'
					});">
					Navigation failure
				</button>
				<button type="button" class="btn btn-default"
					onclick="send_event('code_card_seen', {
						command: 'tweet'
					});">
					Code card seen
				</button>
				<button type="button" class="btn btn-default"
					onclick="send_event('screen_touched', {
						context: 'unknown'
					});">
					User touched screen
				</button>
				<button type="button" class="btn btn-default"
					onclick="send_event('robot_pushed', {
					});">
					User pushed robot
				</button>
				<button type="button" class="btn btn-default"
					onclick="send_event('emergency_stop', {
					});">
					User pushed emergency stop
				</button>
			</div>
		</div>
	</div>	
</div>