$def with (robot, nodes, available_methods)
$var title: DFAgent


<script type="text/javascript">

	function getCookie(cname) {
	    var name = cname + "=";
	    var decodedCookie = decodeURIComponent(document.cookie);
	    var ca = decodedCookie.split(';');
	    for(var i = 0; i <ca.length; i++) {
	        var c = ca[i];
	        while (c.charAt(0) == ' ') {
	            c = c.substring(1);
	        }
	        if (c.indexOf(name) == 0) {
	            return c.substring(name.length, c.length);
	        }
	    }
	    return "";
	}

	function submit_to_df() {
		$$('#df_response').val('...processing...')
		$$.post("#" , {
			input: 'text',
			query: $$('#df_input').val()
		},
		function(data) {
			$$('#df_response').val(data['fulfillment']['speech']);
			$$('#df_input').val('')
		});

	}

	function show_marker(node_name, eyes_closed) {
    	var nodes=$:nodes;
  		$$("eyes_img").remove();
  		try {
  			var eyes_state = "open";
  			if (eyes_closed)
  				eyes_state="closed";
	  		var px = nodes[node_name]['x'] * 100 / nodes['_max']['x'];
	  		var py = nodes[node_name]['y'] * 100 / nodes['_max']['y'];
	      $$("#map_parent").append(            
	          // $$('<div class="marker"></div>').css({
	          //     position: 'absolute',
	          //     top: py+'%',
	          //     'margin-left': '-8px',
	          //     'margin-top': '-8px',
	          //     left: px + '%',
	          //     width: '16px',
	          //     height: '16px',
	          //     background: '#FF00FFCC'
	          // })              

	          $$('<img id="eyes_img" width="30px" src="assets/eyes_' + eyes_state + '.png"></img>').css({
	              position: 'absolute',
	              top: py+'%',
	              'margin-left': '-16px',
	              'margin-top': '-16px',
	              left: px + '%',
	              width: '32px',
	              height: '32px',
	              background: '#00000000'
	          })              


	      );
	    }
	    catch(e) {
	    	console.log("couldn't find position for marker " + node_name + "\n" + e);
	    }


	}



	function send_event(ev, params) {
		$$.post("#" , {
			input: 'event',
			parameters: JSON.stringify(params),
			event: ev
		},
		function(data) {
			$$('#df_response').val(data['fulfillment']['speech']);
		});

	}


$$(document).ready(function () {
			$$('#webhook').html(
				'<a href="'+window.location.href+'/webhook">'
				+ window.location.href+'/webhook</a>');

			var source = new EventSource("api/$robot");
			source.onmessage = function(event) {
			    var state = JSON.parse(event.data)['state'];
			    $$('#sim_state').val(JSON.stringify(state, null, 2));
			    if (state['eyes_closed']) {
			    	$$('#eyes').html('closed');
			     	$$('#eyes_img').attr('src','assets/eyes_closed.png');
			    }
			    else {
			    	$$('#eyes').html('open');
						$$('#eyes_img').attr('src','assets/eyes_open.png');
			    }
			    $$('#location').html(state['location']);
			    show_marker(state['location'], state['eyes_closed']);

			    try {
			     	$$('#iframe').attr('src',state['website']);
		      }
		      catch (e) {
		      	console.log('no state website' + e);
		      }



			};
});

</script>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<h2>
					DialogFlow Robot: $robot
				</h2>
				<p>
					This page serves as a robot simulator for the <a href="https://sites.google.com/view/uol-ai-robotics" target="_blank">AI and Robotics workshop</a>. It allows to design dialogue systems using <a href="https://console.dialogflow.com/" target="_blank">Dialog Flow</a>, the technology that drives the <a href="https://assistant.google.com/intl/en_uk/" target="_blank">Google Assistant</a>, controlling a mobile robot in <a href="https://www.thecollectionmuseum.com/" target="_blank">The Collection</a> museum, Lincoln. 
				</p>
				<p>
					Use this simulator with your Dialog Flow Agent, by configuring Dialog Flow to use the following fulfilment webhook: <span id="webhook"></span>. Read more about this in our <a target="_blank" href="https://sites.google.com/view/uol-ai-robotics/home">documentation</a>.
				</p>
<!-- 				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p> -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h3>
				Simulation State
			</h3>
			<div class="panel">
				<div id="map_parent" style="
									position: relative;
									top: 0px; left: 0px">
					<img id="map" style="width: 100%;" class="img-responsive" src="https://www.thecollectionmuseum.com/assets/images/templates/collection-interactive-map.jpg"/>
					$for n in nodes:
							$if n not in ['_max', '*unknown*']: 
									<div class="fixed.marker" style="
						              position: absolute;
						              top: $(nodes[n]['y']*100 / nodes['_max']['y'])%;
						              margin-left: -8px;
						              margin-top: -8px;
						              left: $(nodes[n]['x']*100 / nodes['_max']['x'])%;
						              width: 10%;
						              height: 16px;
						              font-size: smaller;
						              background: #00AA0088;
						              color: #FFFFFF">$n</div>
				</div>
				<ul>
					<li>The robot is at place "<span id="location"></span>".</li>
					<li>Eyes <span id="eyes"></span>
								<!-- <img id="eyes_img" width="30px" src="assets/eyes_open.png"></img> -->
					</li>
				</ul>
			</div>
			<div class="panel">
				<h3>
					Website shown
				</h3>
				<div class="media">
					<iframe id="iframe" class="media-object"  width="100%" height="400px" src="https://lcas.lincoln.ac.uk/wp/"></iframe>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h3>
				Dialogue
			</h3>
			<form role="form">
				<div class="form-group">

					<label for="df_input">
						Speak to the robot
					</label>
					<input type="text" class="form-control" id="df_input" 
						onkeydown="if (event.keyCode == 13) { submit_to_df(); return false; }"
					/>
				</div>
				<button type="button" class="btn btn-primary"
					onclick="submit_to_df();">
					Submit
				</button>
				<div class="form-group">
					 
					<label for="df_response">
						Robot's Response
					</label>
					<textarea class="form-control" rows=5 id="df_response" disabled>
					</textarea>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Available methods on fulfilment server:</h3>
			<p>
				<ul class="list-group">
				$for m in available_methods:
						<li class="list-group-item">$m</li>
				</ul>
		  </p>
		</div>	
		<div class="col-md-4">
			<h3>Detailed Simulation State</h3>
			<p>
			<textarea name="sim_state" class="form-control" rows="10" disabled id="sim_state"></textarea>
		  </p>
		</div>	
		<div class="col-md-4">
			<h3>
				Events
			</h3>
			<div class="btn-group-vertical" role="group">
				<button type="button" class="btn btn-default"
					onclick="send_event('person_detected', {age: 20});">
					Person detected
				</button>
				<button type="button" class="btn btn-default"
					onclick="send_event('place_reached', {place: 'plesiosaurus'});">
					Place "Plesiosaurus" reached
				</button>
				<button type="button" class="btn btn-default"
					onclick="send_event('request_help', {
						instructions: 'Can you please help me by pushing me away from here a bit?'
					});">
					Navigation failure
				</button>
				<button type="button" class="btn btn-default"
					onclick="send_event('code_card_seen', {
						command: 'tweet'
					});">
					Code card seen
				</button>
				<button type="button" class="btn btn-default"
					onclick="send_event('screen_touched', {
						context: 'unknown'
					});">
					User touched screen
				</button>
				<button type="button" class="btn btn-default"
					onclick="send_event('robot_pushed', {
					});">
					User pushed robot
				</button>
				<button type="button" class="btn btn-default"
					onclick="send_event('emergency_stop', {
					});">
					User pushed emergency stop
				</button>
			</div>
		</div>
	</div>	
</div>